.logon-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    /*flex box por ser mais facil pra fazer alinhamento
    se mudar pra collmun os itens ficam um abaixo do outro*/
    display: flex; 
    /*alinha itens verticalmente*/
    align-items: center;
    /*alinha itens horizontalmente*/
    justify-content: space-between;
}

.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container serction.form form{ 
    margin-top: 100px;
}

.logon-container section.form form h1{ 
    font-size: 32px;
    margin-bottom: 32px;
}
